apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: GgRuntimes.veritas.io
spec:
  group: veritas.io
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - replicas
                - image
                - memory
                - cpu
                - modelPvc
              properties:
                replicas:
                  type: integer
                  minimum: 1
                image:
                  type: string
                memory:
                  type: string
                cpu:
                  type: string
                gpu:
                  type: object
                  properties:
                    count:
                      type: integer
                    resourceType:
                      type: string
                modelPvc:
                  type: string
                socketPath:
                  type: string
            status:
              type: object
              properties:
                readyReplicas:
                  type: integer
                phase:
                  type: string
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                      status:
                        type: string
                      reason:
                        type: string
                      message:
                        type: string
      subresources:
        status: {}
  scope: Namespaced
  names:
    plural: GgRuntimes
    singular: GgRuntime
    kind: GgRuntime
    shortNames:
      - vrt
